@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body,
.page {
  height: 100%;
  font-size: 14px;
}
:root {
  /* color */
  --main-bg: rgb(242, 245, 246);
  --bg-white: white;
  --active-blue: rgb(74, 106, 218);
  --text-basic: rgb(43, 46, 47);
  --text-gray: rgb(142, 150, 163);
  --button-small-white: rgb(255, 255, 255);
  --menu-hover: rgb(249, 249, 249);
  --counter-text: white;
  /* border */
  --border: 1px solid rgb(231, 232, 237);
  --border-i-proj: 2px solid rgb(68, 138, 243);
  --border-i-proj-orange: 2px solid rgb(248, 103, 68);
  --border-i-proj-purp: 2px solid rgb(83, 35, 218);
  --border-i-proj-green: 2px solid rgb(130, 191, 162);
  /* size */
  --s-sidebar: 250px;
  --s-inbox: 350px;
  --s-inbox-mob: 250px;
  --s-panel: 80px;
  --s-chat-liste__item: 90px;
  --s-chat-liste__item-mob: 70px;
}
.pr-10 {
  padding-right: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mlr-30 {
  margin: 0 30px;
}
.ml-5 {
  margin-left: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
/* -------main-------- */
.page {
  width: 100%;
  height: 100vh;
  display: flex;
}
/* --------Sidebar-------- */
.sidebar {
  width: var(--s-sidebar);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--main-bg);
  padding: 30px 0 30px 20px;
}
.logo {
  height: 10%;
}
.logo__link {
  display: flex;
  align-items: center;
}
.logo__icon {
  color: var(--active-blue);
  font-size: 3rem;
  font-weight: 800;
}
.logo__name {
  color: var(--text-basic);
  font-size: 1.2rem;
  font-weight: 800;
}
.navigation {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}
.menu {
  min-height: 300px;
}
.menu__item {
  padding: 15px 10px;
}
.menu__item:hover {
  background: var(--menu-hover);
  border-radius: 12px 0 0 12px;
  transition: 0.3s;
}
.menu__item--active {
  background: var(--menu-hover);
  border-radius: 12px 4px 4px 12px;
  border-right: 4px solid rgb(255, 95, 56);
}
.menu__link {
  display: flex;
  align-items: center;
}
.menu__icon {
  color: var(--text-gray);
  font-size: 1.4rem;
}
.menu__text {
  color: var(--text-basic);
  font-size: 1rem;
  font-weight: 600;
}
.menu__icon--active,
.menu__text--active {
  color: var(--active-blue);
}
.projects {
  min-height: 200px;
}
.projects__title {
  text-transform: uppercase;
  color: var(--text-gray);
  font-size: 0.7rem;
  font-weight: 500;
}
.projects__item {
  padding: 5px 10px;
  width: 200px;
}
.projects__item:hover {
  background: var(--menu-hover);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.3s;
}
.projects__link {
  display: grid;
  grid-template-columns: 1fr repeat(1, 4fr) 1fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.projects__icon {
  height: 20px;
  width: 20px;
  border: var(--border-i-proj);
  border-radius: 40%;
}
.progects__icon--orange {
  border: var(--border-i-proj-orange);
}
.progects__icon--purp {
  border: var(--border-i-proj-purp);
}
.progects__icon--green {
  border: var(--border-i-proj-green);
}
.projects__text {
  color: var(--text-basic);
  font-size: 0.9rem;
  font-weight: 600;
}
.projects__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 20%;
  background: rgb(232, 232, 238);
  color: var(--text-gray);
  font-size: 0.8rem;
  font-weight: 600;
}
.button {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  border: var(--border);
  border-radius: 12px;
  width: 80%;
  height: 40px;
  background: var(--main-bg);
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.button:hover {
  background: var(--active-blue);
  color: white;
  transition: 0.3s;
}

/* -------inbox--------- */
.inbox {
  width: var(--s-inbox);
  height: 100%;
  position: fixed;
  left: var(--s-sidebar);
  top: 0;
  border-right: var(--border);
  padding: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 2rem;
  font-weight: 500;
}
.button--small {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 30px;
  height: 30px;
  background: var(--button-small-white);
  font-weight: 200;
}
.toggle {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background: var(--main-bg);
}
.toggle__button {
  width: 100%;
  height: 29px;
  background: var(--main-bg);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
  color: rgb(148, 154, 165);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.toggle__button--active,
.toggle__button:hover {
  background: rgb(255, 255, 255);
  color: var(--text-basic);
}
.chat-liste {
  width: 100%;
  height: 85%;
  margin-bottom: 10px;
  overflow: scroll;
}
.chat-liste::-webkit-scrollbar {
  display: none;
}
.chat-liste__item {
  display: grid;
  grid-template-columns: 80px calc(100% - 120px) 40px;
  align-items: center;
  width: 100%;
  height: var(--s-chat-liste__item);
  border-bottom: var(--border);
  cursor: pointer;
  padding: 0 15px;
  margin-bottom: 10px;
}
.chat-liste__item--unread {
  border-radius: 12px;
  background: var(--main-bg);
  border: none;
}
.chat-liste__avatar {
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 0;
}
.chat-liste__foto {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.chat-liste__status {
  display: none;
}
.chat-liste__status--online {
  display: block;
  position: absolute;
  bottom: 2px;
  right: 0px;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: rgb(89, 205, 95);
  border: 2px solid rgb(242, 245, 245);
}
.chat-liste__name {
  font-size: 1rem;
  color: var(--text-basic);
  font-weight: 500;
}
.chat-liste__position {
  font-size: 0.9rem;
  line-height: 20px;
  color: var(--text-gray);
}
.chat-liste__msg {
  width: 100%;
  font-size: 0.9rem;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-liste__counter {
  display: none;
}
.chat-liste__counter--unread {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--active-blue);
  color: var(--counter-text);
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}
/* ---------Chat--------- */
.chat {
  width: calc((100% - var(--s-sidebar) - var(--s-inbox) - var(--s-panel)));
  height: 100%;
  position: fixed;
  right: var(--s-panel);
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas:
    "header"
    "box"
    "row-m";
  background: linear-gradient(346deg, #c2c0c036, transparent);
}
.chat__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  height: 80%;
  padding: 30px 30px 10px;
  border-bottom: var(--border);
}
.user-blok {
  display: flex;
}
.user-blok__avatar {
  width: 40px;
  height: 40px;
  line-height: 0;
  position: relative;
}
.user-blok__foto {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.user-blok__status {
  display: none;
}
.user-blok__status--online {
  display: block;
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: rgb(89, 205, 95);
  border: 2px solid rgb(242, 245, 245);
}
.user-blok__name {
  font-size: 1rem;
  color: var(--text-basic);
  font-weight: 500;
}
.user-blok__text {
  font-size: 0.8rem;
  line-height: 20px;
  color: var(--text-gray);
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  max-width: 200px;
  background: var(--main-bg);
  border: var(--border);
  border-radius: 12px;
  padding: 0 10px;
  cursor: pointer;
}
.search__input {
  font-size: 0.9rem;
  outline: none;
  background: none;
  border: none;
}
.search__input::-webkit-input-placeholder {
  color: var(--text-gray);
  font-size: 0.8rem;
}
.search__icon i {
  font-size: 1.2rem;
  color: rgba(128, 128, 128, 0.502);
  transform: rotateY(180deg);
}
.button__icon {
  font-size: 1.5rem;
  color: var(--text-gray);
}
.buttons {
  display: flex;
  gap: 10px;
}
/* -------------------------------- */
.chat__dialog-box {
  grid-area: box;
  padding: 0 30px;
  overflow: scroll;
}
.chat__dialog-box::-webkit-scrollbar {
  display: none;
}
.date {
  width: 100%;
  font-size: 1rem;
  color: var(--text-gray);
  padding: 10px 0;
}
.message {
  width: 100%;
}
.message__time time {
  font-size: 0.6rem;
  color: var(--text-gray);
}
.message__text {
  display: flex;
  font-size: 0.9rem;
}
.message__text--sent,
.message__time--sent,
.message__status--sent {
  display: flex;
  justify-content: flex-end;
}
.message__text--sent > span {
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  border-radius: 12px 12px 0 12px;
  margin: 5px 0;
}
.message__text--received > span {
  padding: 10px 20px;
  background: rgb(235, 238, 239);
  border-radius: 12px 12px 12px 0;
  margin: 5px 0;
}
.message__status,
.message__doc-size {
  font-size: 0.5rem;
  color: var(--text-gray);
  text-transform: uppercase;
}
.message__doc {
  display: flex;
  align-items: center;
}
.message__doc-icon {
  font-size: 1.8rem;
  color: var(--active-blue);
  padding-right: 5px;
}
.message__doc-name {
  font-size: 0.7rem;
  color: var(--active-blue);
  font-weight: 600;
}
/* -------------------------------- */
.chat__row-message {
  grid-area: row-m;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--border);
  height: 70%;
}
.text-area {
  width: 90%;
}
.text-area__message {
  height: 50px;
  width: 90%;
  font-size: 1.1rem;
  outline: none;
  background: none;
  border: none;
}
.text-area__message::-webkit-input-placeholder {
  color: var(--text-gray);
  font-size: 0.8rem;
}
.button__icon--modif {
  transform: rotate(90deg);
}
.button--active {
  background: var(--active-blue);
}
.button__icon--active,
.button__icon:hover {
  color: white;
}
/* -------Panel---------- */
.panel {
  width: var(--s-panel);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  border-left: var(--border);
  background: var(--bg-white);
  z-index: 1;
}
.buttons--column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}
/* mob.version 768px */
@media (max-width: 768px) {
  .sidebar {
    width: 80%;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    z-index: 1;
    padding: 20px 0 0 20px;
  }
  .sidebar--open {
    transform: none;
  }
  .menu__item {
    padding: 10px;
  }
  .inbox {
    width: 100%;
    left: 0;
    padding: 30px 15px;
  }
  .chat {
    display: none;
  }
  .panel {
    display: none;
  }
}
