@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body,
.page {
  height: 100%;
  font-size: 14px;
}
:root {
  /* color */
  --main-bg: rgb(242, 245, 246);
  --active-blue: rgb(74, 106, 218);
  --text-basic: rgb(43, 46, 47);
  --text-gray: rgb(142, 150, 163);
  --button-small-white: rgb(255, 255, 255);
  --menu-hover: rgb(250, 250, 250);
  --counter-text: white;
  /* border */
  --border: 1px solid rgb(231, 232, 237);
  --border-i-proj: 2px solid rgb(68, 138, 243);
  --border-i-proj-orange: 2px solid rgb(248, 103, 68);
  --border-i-proj-purp: 2px solid rgb(83, 35, 218);
  --border-i-proj-green: 2px solid rgb(130, 191, 162);

  /* size */
  --s-sidebar: 250px;
  --s-inbox: 350px;
  --s-panel: 100px;
  --s-chat-liste__item: 90px;
}
.pr-10 {
  padding-right: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
/* .mr-15 {
  margin-right: 15px;
} */
.ml-5 {
  margin-left: 5px;
}
.mt-20 {
  margin-top: 20px;
}
/* -------main-------- */
.page {
  width: 100%;
  display: grid;
  grid-template-columns:
    var(--s-sidebar)
    var(--s-inbox)
    calc(100% - var(--s-sidebar) - var(--s-inbox) - var(--s-panel))
    var(--s-panel);
  grid-template-rows: 100%;
  grid-template-areas: "sidebar inbox chat panel";
  position: relative;
}
/* --------Sidebar-------- */
.sidebar {
  grid-area: sidebar;
  background: var(--main-bg);
  padding: 30px 0 30px 20px;
}
.logo {
  height: 10%;
}
.logo__link {
  display: flex;
  align-items: center;
}
.logo__icon {
  color: var(--active-blue);
  font-size: 3rem;
  font-weight: 800;
}
.logo__name {
  color: var(--text-basic);
  font-size: 1.2rem;
  font-weight: 800;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}
.menu {
  min-height: 300px;
}
.menu__item {
  padding: 15px 10px;
}
.menu__item:hover {
  background: var(--menu-hover);
  border-radius: 12px 0 0 12px;
  transition: 0.3s;
}
.menu__item--active {
  background: var(--menu-hover);
  border-radius: 12px 0 0 12px;
  border-right: 4px solid rgb(255, 95, 56);
}
.menu__link {
  display: flex;
  align-items: center;
}
.menu__icon {
  color: var(--text-gray);
  font-size: 1.4rem;
}
.menu__text {
  color: var(--text-basic);
  font-size: 1rem;
  font-weight: 600;
}
.projects {
  min-height: 200px;
}
.projects__title {
  text-transform: uppercase;
  color: var(--text-gray);
  font-size: 0.7rem;
  font-weight: 500;
}
.projects__item {
  padding: 5px 0;
  width: 200px;
}
.projects__link {
  display: grid;
  grid-template-columns: 10% 60% 10%;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.projects__icon {
  height: 20px;
  width: 20px;
  border: var(--border-i-proj);
  border-radius: 40%;
}
.progects__icon--orange {
  border: var(--border-i-proj-orange);
}
.progects__icon--purp {
  border: var(--border-i-proj-purp);
}
.progects__icon--green {
  border: var(--border-i-proj-green);
}
.projects__text {
  color: var(--text-basic);
  font-size: 0.9rem;
  font-weight: 600;
}
.projects__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 20%;
  background: rgb(232, 232, 238);
  color: var(--text-gray);
  font-size: 0.8rem;
  font-weight: 600;
}
.button {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  border: var(--border);
  border-radius: 12px;
  width: 80%;
  height: 40px;
  background: var(--main-bg);
  cursor: pointer;
}
.button:hover {
  background: var(--menu-hover);
  transition: 0.3s;
}

/* -------inbox--------- */
.inbox {
  grid-area: inbox;
  border-right: var(--border);
  padding: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 2rem;
  font-weight: 500;
}
.button--small {
  font-size: 2rem;
  width: 35px;
  height: 35px;
  background: var(--button-small-white);
  font-weight: 200;
}
.toggle {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background: var(--main-bg);
}
.toggle__button {
  width: 100%;
  height: 25px;
  background: var(--main-bg);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
  color: rgb(148, 154, 165);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.toggle__button--active {
  background: rgb(255, 255, 255);
  color: var(--text-basic);
}
.chat-liste {
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
  overflow: scroll;
}
.chat-liste::-webkit-scrollbar {
  display: none;
}
.chat-liste__item {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  width: 100%;
  height: var(--s-chat-liste__item);
  border-bottom: var(--border);
  cursor: pointer;
  padding: 0 15px;
  margin-bottom: 10px;
}
.chat-liste__item--unread {
  border-radius: 12px;
  background: var(--main-bg);
  border: none;
}
.chat-liste__avatar {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-image: url(https://via.placeholder.com/60);
  position: relative;
}

.chat-liste__status {
  display: none;
}
.chat-liste__status--online {
  display: block;
  position: absolute;
  bottom: 2px;
  right: 0px;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: rgb(89, 205, 95);
  border: 2px solid rgb(242, 245, 245);
}
.chat-liste__info {
  width: 50%;
}
.chat-liste__name {
  font-size: 1rem;
  color: var(--text-basic);
  font-weight: 500;
}
.chat-liste__position {
  font-size: 0.7rem;
  line-height: 20px;
  color: var(--text-gray);
}
.chat-liste__mail__msg {
  font-size: 0.7rem;
  line-height: 20px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}
.chat-liste__counter {
  display: none;
}
.chat-liste__counter--unread {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--active-blue);
  color: var(--counter-text);
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}
/* ---------Chat--------- */
.chat {
  grid-area: chat;
}

/* -------Panel---------- */
.panel {
  grid-area: panel;
  border-left: var(--border);
}
